@charset "utf-8";

@import "settings";
@import "imports";

body {
  margin-top: $marginTopBody;
}

.tag-item {
  padding-left: 10px;
}

@import url("../fonts/pgn4web-font-LiberationSans.css");
@import url("../fonts/pgn4web-font-ChessSansUsual.css");

figcaption {
  text-align: center
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* -----------------  PGN CSS ------------------ */


.boardTable {
  border-style: double;
  border-color: black;
  border-width: 3px;
  box-shadow: 0px 0px 15px #AAAAAA;
}

.pieceImage {
  width: 48px;
  height: 48px;
}

.whiteSquare,
.blackSquare,
.highlightWhiteSquare,
.highlightBlackSquare {
  width: 48px;
  height: 48px;
}

.whiteSquare,
.highlightWhiteSquare {
  background: #EFF4EC;
}

.blackSquare,
.highlightBlackSquare {
  background: #C6CEC3;
}

.highlightWhiteSquare,
.highlightBlackSquare {
  background: #DAF4D7;
}

.selectControl {
/* a "width" attribute here must use the !important flag to override default settings */
}

.optionSelectControl {
}

.buttonControlPlay,
.buttonControlStop,
.buttonControl {
/* a "width" attribute here must use the !important flag to override default settings */
}

.buttonControlSpace {
/* a "width" attribute here must use the !important flag to override default settings */
}

.searchPgnButton {
/* a "width" attribute here must use the !important flag to override default settings */
}

.searchPgnExpression {
/* a "width" attribute here must use the !important flag to override default settings */
}

.move,
.variation {
  font-weight: normal;
  text-decoration: none;
}

.move,
.variation,
.commentMove {
  font-family: 'pgn4web ChessSansUsual', 'pgn4web Liberation Sans', sans-serif;
}

a.move,
a.variation,
.commentMove {
  white-space: nowrap;
}

.move {
  color: black;
}

.comment,
.variation {
  color: gray;
}

.moveOn,
.variationOn {
  background: #DAF4D7;
}

.label-tag {
  vertical-align: 20%
}

.fen-wrapper { width: 198px; height: 198px; padding: 0; overflow: hidden; margin:auto}
.scaled-fen-frame { display:block; width: 395px; height: 395px; border: 0px; }
.scaled-fen-frame {
zoom: 0.50;
-moz-transform: scale(0.5);
-moz-transform-origin: 0 0;
-o-transform: scale(0.5);
-o-transform-origin: 0 0;
-webkit-transform: scale(0.5);
-webkit-transform-origin: 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
.scaled-fen-frame  { zoom: 1;  }
}
