---
title: Chess
---

<h1>Chess</h1>

<h2>PGN Collections</h2>
<% data.collections.each do |collection| %>
<%= link_to "#{collection.event}", chess_collection_file_name("#{collection.event}") %>
<% end %>