---
title: My Lichess Status
twitter_card: true
description: "My Lichess Stats"
---

<table class="table table-hover table-striped table-bordered">

    <tbody>
        <tr>
            <td>Username</td>
            <td id='username'></td>
        </tr>
        <tr>
            <td>JSON</td>
            <td id='json'></td>
        </tr>
    </tbody>
</table>

<script>
jQuery(document).ready(function($) {
    $.getJSON( "https://lichess.org/api/user/gercondon", function( data ) {
  	$('#username').text(data.username)
  	$('#json').text(JSON.stringify(data))
});

});
</script>