---
title: Cork Club Championship 2014-2015 Game 4
---

<div class="container-fluid">
<div class="row">

<script src="../javascripts/pgn4web.js" type="text/javascript"></script>
<script src="../fonts/chess-informant-NAG-symbols.js" type="text/javascript"></script>

<script type="text/javascript">
    "use strict";
    SetPgnUrl("https://raw.githubusercontent.com/gerardcondon/chess/master/tournaments/Cork%20Club%20Championship%202014-2015/4.pgn");
    SetImagePath("../images/pgn4web/alpha/48");
    SetImageType("png");
    SetShortcutKeysEnabled(true);
    SetHighlightOption(false);
    SetCommentsIntoMoveText(true);
    SetGameSelectorOptions("Select game...", false, 0, 0, 0, 15, 15, 0, 0);
</script>

<div class="col-sm-4" style="width: 400px;">
    <div id="GameSelector"></div>
    <p></p>
    <div id="GameBoard"></div>
    <p></p>
    <div id="GameButtons"></div>
</div>


<div class="col-sm-5 col-sm-offset-1">
    <b><span id="GameWhite"></span>&nbsp;-&nbsp;<span id="GameBlack"></span>&nbsp;&nbsp;<span id="GameResult"></span></b>
    <div id="GameText"></div>
</div>

</div>
</div>